.loginMainContainer {
  display: flex;
}

.loginContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 460px;
  height: 955px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
}

.loginContainerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90px;
}

h1 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 180px;
  width: 400px;
}

.loginButton {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

@media all and (min-width: 2560px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    height: 1561px;
    width: 2560px;
  }
  .loginContainerLeft {
    width: 853px;
    height: 900px;
  }
  .loginText,
  .loginForm,
  .loginButton {
    width: 900px;
  }

  .loginText p {
    font-size: 18px;
  }

  .loginContainerRight {
    width: 1706px;
  }
}

@media all and (max-width: 2559px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    height: 940px;
  }
  .loginContainerLeft {
    width: 480px;
  }
  .loginText,
  .loginForm,
  .loginButton {
    width: 600px;
  }
  .loginContainerRight {
    width: 960px;
  }
}

@media all and (max-width: 1024px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    height: 920px;
  }
  .loginContainerLeft {
    width: 341px;
  }
  .loginText,
  .loginForm,
  .loginButton {
    width: 500px;
  }
  .loginContainerRight {
    width: 683;
  }
}

@media all and (max-width: 768px) {
  .loginMainContainer {
    height: 900px;
  }
  .loginContainerLeft {
    justify-content: space-evenly;
  }
  .loginText,
  .loginForm,
  .loginButton {
    width: 500px;
  }
  .loginContainerRight {
    height: 1226px;
  }
}

@media all and (max-width: 768px) and (min-width: 425px) {
  .loginContainerLeft {
    height: 700px;
  }
}

@media all and (max-width: 425px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 625px;
    height: 1250px;
  }
  .loginContainerLeft {
    width: 425px;
    height: 700px;
  }
  .loginText,
  .loginForm,
  .loginButton {
    width: 550px;
  }
  .loginContainerRight {
    height: 600px;
    width: 625px;
  }
  .LoginIllustration {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 625px;
    height: 1430px;
  }
  .loginContainerLeft {
    height: 1500px;
  }
  .loginContainerRight {
    height: 1000px;
    width: 625px;
  }
}

@media all and (max-width: 320px) {
  .loginMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 625px;
    height: 1675px;
  }
  .loginContainerLeft {
    height: 1000px;
    padding-left: 0;
    padding-right: 0;
    width: 625px;
  }
  .loginContainerRight {
    height: 1000px;
    width: 625px;
  }
}
