.containerNavBarHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22px 0px 22px;
  background-color: #ffffff;
  height: 57px;
  margin-bottom: 35px;
}

.containerNavBarRight {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.containerNavBarRight span {
  font-size: 14px;
}

.containerNavBarRight span:nth-child(1) {
  font-weight: 700;
}

.containerNavBarRight span:nth-child(2) {
  cursor: pointer;
  font-weight: 400;
}

@media all and (max-width: 320px) {
  .containerNavBarRight {
    justify-content: space-around;
  }
  .containerNavBarRight span {
    font-size: 12px;
  }
}
